/* slider2 디자인 */
.slider2{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* slider의 바깥으로 삐져나가는 slide-item을 보이지 않게 처리 */
    overflow: hidden;
}

/* slider2 item */
.slider2-item{
    width: 100%;
    height: 100vh;
    /* flex의 컨테이너보다 item 크기가 클 때, item의 넓이를 바꾸지 않기 위해 사용: flex-shrink: 0; */
    flex-shrink: 0;

    /* slider-item의 위치 옮기기 */
    position: relative;
    /* left의 위치를 0, -100%, -200%의 값을 이용하여 이동 */
    left: 0;
    transition: all 1s;
}

/* slider2-button 디자인 */
.slider-button{
    position: absolute;
    top: 45%;
    font-size: 5rem;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

/* 슬라이더2 이미지 */
.slider2>.slider2-item:nth-child(1){
    background-image: url(../img/7.jpg);
    background-size: cover;
}

.slider2>.slider2-item:nth-child(2){
    background-image: url(../img/8.jpg);
    background-size: cover;
}

.slider2>.slider2-item:nth-child(3){
    background-image: url(../img/9.jpg);
    background-size: cover;
}

/* 슬라이더 dot의 모양 */
.slider2-dots {
    position: absolute;
    display: flex;
    left: 45%; bottom: 20px;

}
.slider2-dots .dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 10px;
}

.slider2-dots .dot:hover, 
.slider2-dots .dot.on {
    background-color: rgba(107, 107, 107, 0.3);
}